<div class="top-mypage">
    <div class="myprof">
            <div class="user-icon">
                <img src="<%= "/images/#{@user.image_name}" %>">
            </div>
                
            <div class="prof">
                
                <table border="1">
                          <tr>
                            <th>ユーザー名</th>
                            <th>年齢</th>
                            <th>性別</th>
                            <th>居住地</th>
                            <th>出身地</th>
                          </tr>
                          <tr>
                            <td><%= @user.name %></td>　
                            <td></td>
                            <td><%= @user.gender %></td>
                            <td><%= @user.residence %></td>
                            <td><%= @user.birthplace %></td>
                          </tr>
                </table>
                
                <div class="prof-main">
                    <p>プロフィール</p>
                    <%= @user.profile %>
                </div>
                
            </div>
            
    </div>
    
                
    
    <div class="management-menu">
        <ul class="management-list">
           <li><%= link_to("プロフィールの編集", "/users/#{@user.id}/edit") %></li>
           <li><%= link_to("立ち上げたサークル", "/circle/top") %></li>
           <li><%= link_to("所属サークル", "/users/#{@user.id}/mypage_belong") %></li>
           <li><%= link_to("サークルの編集", "/users/#{@user.id}/mypage_now") %></li>
           <li><%= link_to("お気に入りしたサークル", "/users/#{@user.id}/likes") %></li>
        </ul>
    </div>
                
                
                
                
                
                
</div>