<div class="area-top">
    <div class="area-title">
        <h2 class="area-name"><%= @name %></h2>
    </div>

          <div class="container">
          <% @posts.first(20).each do |post| %>
          <div class="box">
                <%= link_to("/posts/#{post.id}/show" , :class => "post-style") do %>
                <%= image_tag"/images/#{post.main_image}", :size => '250x180' %>
                <% end %>
          <div class="box-title">
                <%= link_to( post.title, "/posts/#{post.id}/show", :class => "post-style")  %>
          </div> 
          <div class="box-content">
                 <%= link_to( post.outline, "/posts/#{post.id}/show", :class => "post-style" ) %>
         </div>
         </div>
         <% end %>
         </div>
</div>