<div class="header-none">
    <%= render 'header' %>
</div>

<div class="top_main">
    <div class="header item item-h nav-none">
        <ul class="header-title">
            <li class="header-title">
                <%= link_to("Event", "/" ,:class => "title-style logo" ) %>
            </li>
        </ul>
        
        <nav class="nav">
            <ul>
                <% if @current_user %>
                    <li class="nav-item"><a href="<%= "/users/#{@current_user.id}" %>">mypage</a></li>
                    <li class="nav-item"><%= link_to("logout", "/logout" , {method: :post}) %></li>
                    <li class="nav-item"><a href="<%= "/posts/new" %>">create</a></li>
                <% else %>
                    <li class="nav-item"><a href="<%= "/users/login_form" %>">new/login</a></li>
                    <li class="nav-item"><a href="<%= "/posts/new" %>">create</a></li>
                <% end %>
            </ul>
        </nav>
    </div>
    
    <section class="item item-l item-maindish float-l">
            <img class="image" src="../images/top.2.jpg" alt="メイン">
        <div class="category-comment"><i class="fas fa-search"></i>イベントを探してみよう　あああああああああああああ</div>
        <div class="category-menu">
      　<p class="region-category">Event Category</p>
           <ul>
                <li class="category-list">
                    <%= link_to('Sports', {controller: 'posts', action: 'category', category: 's', category_name: 'スポーツ'}, class: "btn-category") %>
                </li>
                <li class="category-list">
                    <%= link_to("Culture", {controller: "posts", action: "category",category: "c", category_name: "文化系"}, class: "btn-category") %>
                </li>
                
                <li class="category-list">
                    <%= link_to('Business', {controller: 'posts', action: 'category',category:'b',category_name: 'ビジネス'}, class: "btn-category") %>
                </li>
                
                <li class="category-list">
                    <%= link_to('Trip', {controller: 'posts', action: 'category',category:'t',category_name: '旅'}, class: "btn-category") %>
                </li>
                
                <li class="category-list">
                    <%= link_to('Outdoor', {controller: 'posts', action: 'category',category:'o',category_name: 'アウトドア'}, class: "btn-category") %>
                </li>
                
                <li class="category-list">
                    <%= link_to('Party', {controller: 'posts', action: 'category',category:'g',category_name: 'グルメ・お酒'}, class: "btn-category") %>
                </li>
                
                <li class="category-list">
                    <%= link_to('Others', {controller: 'posts', action: 'category',category:'ot',category_name: 'その他'}, class: "btn-category") %>
                </li>
            </ul>
        <p class="region-serch">Place</p>
        <div class="region">
          <%= form_tag("/home/areapage") do %>
          <%= select_tag 'venue[num]', options_for_select([["北海道","1"],
                                                                                  ["青森","2"],
                                                                                  ["秋田","3"],
                                                                                  ["山形","4"],
                                                                                  ["岩手","5"],
                                                                                  ["宮城","6"],
                                                                                  ["福島","7"],
                                                                                  ["新潟","8"],
                                                                                  ["東京","9"], 
                                                                                  ["神奈川","10"],
                                                                                  ["埼玉","11"],
                                                                                  ["千葉","12"],
                                                                                  ["茨城","13"], 
                                                                                  ["栃木","14"],
                                                                                  ["群馬","15"],
                                                                                  ["長野","16"],
                                                                                  ["山梨","17"],
                                                                                  ["静岡","18"],
                                                                                  ["富山","19"],
                                                                                  ["岐阜","20"], 
                                                                                  ["愛知","21"],
                                                                                  ["石川","22"], 
                                                                                  ["福井","23"], 
                                                                                  ["大阪","24"],
                                                                                  ["京都","25"], 
                                                                                  ["兵庫","26"], 
                                                                                  ["滋賀","27"],
                                                                                  ["三重","28"], 
                                                                                  ["奈良","29"], 
                                                                                  ["和歌山","30"],
                                                                                  ["岡山","31"], 
                                                                                  ["鳥取","32"],
                                                                                  ["香川","33"],
                                                                                  ["徳島","34"],
                                                                                  ["高知","35"],
                                                                                  ["愛媛","36"],
                                                                                  ["鳥取","37"],
                                                                                  ["広島","38"],
                                                                                  ["山口","39"],
                                                                                  ["福岡","40"], 
                                                                                  ["大分","41"],
                                                                                  ["佐賀","42"],
                                                                                  ["長崎","43"],
                                                                                  ["熊本","44"],
                                                                                  ["宮崎","45"],
                                                                                  ["鹿児島","46"],
                                                                                  ["沖縄","47"],
                                                                                  ["海外","48"]
                                                                                  ]) %>
           <input type="submit" value="探す" class="serch-btn">
          <% end %>
        </div>
      </div>
    </section>
    
  <!--  <div class="category">-->
  <!--  <img src="images/top.2.jpg">-->

  <!--</div>-->
    
   
    
    
    <% @newevents.first(1).each do |post| %>
        <section class="item item-maindish box-A">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
    <% @posts.first(1).each do |post| %>
        <section class="item item-m item-breaktime box-B">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                 <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
     <% @posts[1..-1].first(1).each do |post| %>
        <section class="item item-m item-appetizer box-C">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                 <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
    <% @newevents[1..-1].first(1).each do |post| %>
        <section class="item item-column box-D">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @posts[3..-1].first(1).each do |post| %>
        <section class="item item-m item-maindish box-E">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                 <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
    <% @newevents[2..-1].first(1).each do |post| %>
        <section class="item item-appetizer box-F">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    
    <% @newevents[3..-1].first(1).each do |post| %>
        <section class="item item-column box-G">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    
 
    <% @posts[2..-1].first(1).each do |post| %>
        <section class="item item-m item-breaktime box-H">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                 <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
    <% @newevents[4..-1].first(1).each do |post| %>
        <section class="item item-maindish box-I">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @newevents[5..-1].first(1).each do |post| %>
        <section class="item item-column box-J">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
     <% @posts[4..-1].first(1).each do |post| %>
        <section class="item item-m item-breaktime box-K">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                 <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
    <% @newevents[6..-1].first(1).each do |post| %>
        <section class="item item-appetizer box-L">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @newevents[7..-1].first(1).each do |post| %>
        <section class="item item-breaktime box-M">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @newevents[8..-1].first(1).each do |post| %>
        <section class="item item-maindish box-N">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @posts[5..-1].first(1).each do |post| %>
        <section class="item item-m item-breaktime box-O">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                 <p class="description"><%= post.outline %></p>
            </a>
        </section>
    <% end %>
    
    <% @newevents[9..-1].first(1).each do |post| %>
        <section class="item item-appetizer box-P">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @newevents[10..-1].first(1).each do |post| %>
        <section class="item item-maindish box-Q">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>
    
    <% @newevents[11..-1].first(1).each do |post| %>
        <section class="item item-column box-R">
            <a href="<%= "/posts/#{post.id}/show" %>">
                <img class="image" src="<%= "/images/#{post.main_image}" %>" alt="メイン">
                <div class="category"><%= post.title %></div>
                <p class="description"><%= post.outline %></p>
            </a>
        </section>  
    <% end %>

<div class="footer-none">
    <%= render 'footer' %>
</div>

<!--=====================Java Script=============================================-->
<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->
<!--<script>-->
<!--    window.onload =function() {-->
<!--    new Masonry('body',{-->
<!--        itemSelector: '.item',-->
<!--        colomnWidth: 180,-->
<!--        gutter: 4-->
<!--    });-->
<!--    };-->
<!--</script>-->







