<div class="posts-show">

<div class="show-top">
    
   

     
    <div class="event-top">
        <div class="show-title">
            <h2><%= @circle.title %></h2>
        </div>
        
        <div class="show-main-image">
             <img src="<%= "/images/#{@circle.circle_image}" %>">
            
        </div>
        

        
        
        <div class="info-box">
            <div class="tg-number">
                <div>募集人数</div>
                    <p><%=  %>人</p>
            </div>
            
            <div class="join-number">  
                <div>現在の参加人数</div>
                    <p>◯人</p>
            </div>
            
            <div class="close-date">
                <div>募集終了まで残り</div>
                    <p>◯日</p>
            </div>
            
            
            <div class="like">
                <% if Like.find_by(user_id: @current_user.id, circle_id: @circle.id) %>
                    <%= link_to("/likes/#{@circle.id}/destroy",{method: "post"}) do %>
                    <span class="fa fa-heart like-btn-unlike">お気に入り</span>
                <% end %>
                <% else %>
                    <%= link_to("/likes/#{@circle.id}/create",{method: "post"}) do %>
                    <span class="fa fa-heart like-btn">お気に入り</span>
                <% end %>
                <% end %>
            </div>
        </div> 
        
        <div class="event-outline">
            <p><%= @circle.outline %></p>
        </div>
        
    </div>
        
</div>

　<div class="show-container clearfix">
    <div class="event-main">
        <div class="event-mssage">
            <p><%= @circle.content %></p>
        </div>
    </div>
    
    <div class="user-profile">
        <div class="prof-icon">
            <img src="<%= "/images/#{@user.image_name}" %>">
        </div>
        <div class="prof-content">
            <p class="eventer-residence">
                <%= @user.residence %>
            </p>
            
            <p class="eventer">イベント投稿者</p>
                <%= @user.name %>
            
            <div class="userprof">
            <p>プロフィール</p>
                <%= @user.profile %>
            </div>
            
            
            <div class="prof-show">
            <%= link_to("プロフィールを見る","/users/#{@user.id}" ,:class => "prof-btn") %>
            </div>
        </div>
    </div>
    
    <div class="participate-box">
        <div class="join-box">
            <div>現在の参加人数</div>
                <p>○/<%=  %></p>
        </div>
        <div class="join-btn">
            <p>このイベントに参加する</p>
        </div>
    </div>
  </div>
</div> 