<!DOCTYPE html>
<html>
  <head>
    <title>EVENT</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <header>
        <div class="header-top">
               <ul class="header-menu">
                 <li class="header-list title">
                      <%= link_to("EVENT", "/" ,:class => "title-style" ) %>
                 </li>  
                  <% if @current_user %>
            
                      
                      <li class="header-list sub">
                        <%= link_to("イベントを作る", "/posts/ready",:class => "list-style") %>
                      </li>
                      
                      <li class="header-list sub">
                        <%= link_to("イベントを探す" , "/" ,:class => "list-style") %> 
                      </li>
                      
                       <li class="header-list sub">
                        <%= link_to("ログアウト", "/logout" , {method: :post ,:class => "list-style"}) %>
                      </li>
                      
                      <li class="header-list sub">
                         <%= link_to(@current_user.name,"/users/#{@current_user.id}" ,:class => "list-style") %>
                      </li>
                      
                  <% else %>

                      
                      <li class="header-list">
                        <%= link_to("サークルを探す", "/circle/find",:class => "list-style") %>
                      </li>
                      
                      <li class="header-list">
                        <%= link_to("イベントを作る", "/posts/ready",:class => "list-style") %>
                      </li>
                      
                      <li class="header-list">
                        <%= link_to("サークルを探す", "/posts/find",:class => "list-style") %> 
                      </li>
                  
                      <li class="header-list">
                        <%= link_to("新規登録/ログイン", "/users/login_form",:class => "list-style") %>
                      </li>
                      
                  <% end %>
              </ul>
          </div> 
    </header>
    <%= yield %>
    
    <footer>
          <div class="btn">
        　  <a href="#" class="square_btn">サークルを立ち上げる</a>
        　</div>
      <p>asdfasdfasdfsdf</p>
    </footer>
  </body>
</html>
