<!DOCTYPE html>
<html>
  <head>
    <title>EVENT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet'>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>

    <script>
        (function() {
      'use strict';

      var openMenu = document.getElementById('open_menu');
      var closeMenu = document.getElementById('close_menu');
      var menu = document.getElementById('menu');

      openMenu.addEventListener('click', function() {
        menu.classList.add('shown');
      });

      closeMenu.addEventListener('click', function() {
        menu.classList.remove('shown');
      });
    })();
  </script>


<script>
  (function() {
  'use strict';

  var open = document.getElementById('open');
  var close = document.getElementById('close');
  var modal = document.getElementById('modal');
  var mask = document.getElementById('mask');

  open.addEventListener('click', function() {
    modal.className = '';
    mask.className = '';
  });

  close.addEventListener('click', function() {
    modal.className = 'hidden';
    mask.className = 'hidden';
  });

  mask.addEventListener('click', function() {
    // modal.className = 'hidden';
    // mask.className = 'hidden';
    close.click();
  });
})();

</script>



